<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.superadapterwrapper">

    <uses-sdk tools:overrideLibrary="org.apache.cordova" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 音频录制权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读取和写入存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:name=".SuperAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".moudle.service.ServiceActivity"
            android:exported="false" />
        <activity android:name=".moudle.ScaleImageActivity" />
        <activity android:name=".moudle.TestActivity" />
        <activity android:name=".moudle.SmackActivity" />
        <activity android:name=".moudle.TextActivity" />
        <activity android:name=".moudle.RsaActivity" />
        <activity android:name=".moudle.StorageActivity" />
        <activity android:name=".moudle.BiometricActivity" />
        <activity android:name=".moudle.CordovaTestActivity" />
        <activity android:name=".moudle.HappyActivity" />
        <activity android:name=".moudle.SmallFileActivity" />
        <activity android:name=".moudle.WifiActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".moudle.ItemAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.XfermodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.ShadowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.LikeAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.TanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".moudle.SvgaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.WebViewActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".moudle.X5TencentWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.FullScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.FilechooserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".moudle.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".moudle.AgentWebActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".moudle.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Full" />
        <activity android:name=".moudle.RecyclerBannerActivity" />
        <activity
            android:name=".moudle.MediaRecorderActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".moudle.Camera2VideoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".moudle.Camera2VideoNewActivity" />
        <activity android:name=".moudle.audio.AudioActivity" />
        <activity android:name=".moudle.MediaInfoActivity" />
        <activity android:name=".moudle.Test2Activity" />
        <activity
            android:name=".moudle.SystemMediaTestActivity"
            android:exported="false" />

        <service
            android:name=".aidl.PersonService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service android:name=".moudle.service.MyService" />
    </application>

</manifest>